<!DOCTYPE html>
<html>
<head>
    <title>Add Room Assignment</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body class="blue lighten-5">

    <div class="container">
        <h4 class="center-align">Add New Room Assignment</h4>

        <div class="row">
            <form method="post" class="col s12">
                {% csrf_token %}

                <div class="input-field col s12">
                    <label>Student</label>
                    {{ form.student }}
                </div>

                <div class="input-field col s12">
                    <label>Room</label>
                    {{ form.room }}
                </div>

                <div class="input-field col s12">
                    {{ form.start_date.label_tag }}
                    {{ form.start_date }}
                </div>

                <button class="btn waves-effect waves-light blue darken-3" type="submit">Assign Room</button>
            </form>
        </div>
    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
