<!DOCTYPE html>
<html>
<head>
    <title>Delete Room Assignment</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body class="red lighten-5">

    <div class="container center-align" style="margin-top: 100px;">
        <h5>Are you sure you want to delete Room Assignment #{{ assignment.assignment_id }}?</h5>
        <p><strong>Student:</strong> {{ assignment.student.get_full_name }}</p>
        <p><strong>Room:</strong> {{ assignment.room.room_id }} - {{ assignment.room.room_type }}</p>
        <p><strong>Start Date:</strong> {{ assignment.start_date }}</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn red darken-2">Yes, Delete</button>
            <a href="{% url 'room_assignment_list' %}" class="btn grey">Cancel</a>
        </form>
    </div>

</body>
</html>
