<!DOCTYPE html>
<html>
<head>
    <title>Request Submitted</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body class="green lighten-5">

    <div class="container center-align" style="margin-top: 100px;">
        <h4>Maintenance Request Submitted Successfully!</h4>
        <a href="{% url 'add_maintenance_request' %}" class="btn green darken-2">Add Another Request</a>
    </div>

</body>
</html>
