<!DOCTYPE html>
<html>
<head>
    <title>Room Assignments List</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <style>
        td,th{
            border: 1px solid gray;
            text-align: center;
        }
    </style>
</head>
<body class="blue lighten-5">

    <div class="container">
        <h4 class="center-align">Room Assignments</h4>
        {% if assignments %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Assignment ID</th>
                    <th>Student Name</th>
                    <th>Room ID</th>
                    <th>Room Type</th>
                    <th>Start Date</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                <tr>
                    <td>{{ assignment.assignment_id }}</td>
                    <td>{{ assignment.student.get_full_name }}</td>
                    <td>{{ assignment.room.room_id }}</td>
                    <td>{{ assignment.room.room_type }}</td>
                    <td>{{ assignment.start_date }}</td>
                    <td>
    <a href="{% url 'edit_room_assignment' assignment.assignment_id %}" class="btn-small blue darken-2">Edit</a>
    <a href="{% url 'delete_room_assignment' assignment.assignment_id %}" class="btn-small red darken-2">Delete</a>
</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <center>
            <p style="color:red">No Room Assignment Found for you, please request new room</p>
            <br><br>
            <a href="/add-room-assignment/" class="btn-small blue darken-2">Request New Room Assignment</a>
            </center>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
